[2020-06-09 09:51] haudiobe opened #2 "Content Generation for AVC and HEVC - what should be checked?"
Clause 9.3 of CMAF specification: https://1drv.ms/w/s!AiNJEPgowJnWgpZH6FV7ELAlPjfqHg?e=R8zmfr

As long as it does not contradict the above and CMAF:
https://developer.apple.com/documentation/http_live_streaming/hls_authoring_specification_for_apple_devices

Please document all sources for the choices in the scripts or in a README

[2020-06-09 09:59] haudiobe opened #3 "Fingerprint which each encoding"
1) When was the content generated
2) What was the script that generated the content (reference)
3) What was the ffmpeg/x26x version that was used
4) any other information that is relevant to understand the origin of the content (machine, etc.)

[2020-06-17 15:37] haudiobe opened #6 "Available content options"
Check what content options can be produced with FFMPEG

[2020-06-17 19:06] jpiesing commented on #6
Here is the list of content options which have been mentioned;
- with and without picture timing SEI message
- with and without VUI timing information
- Sample entry, see CMAF clause 9.4.1.2; 3 options;
1. avc1 sample entry type (parameter sets within the CMAF Header)
2. avc3 sample entry type (in-band parameter sets) without parameter sets within the CMAF header
3. avc3 sample entry type (in-band

[2020-06-19 07:13] haudiobe opened #7 "MPD for Content Model not parsing CMAF Header"
At this stage the MPD generated for the content model is not parsing the CMAF header to extract the relevant parameters. This may actually result in the case that the MPD is not conforming to the content model and may run into a conformance issue.

The parsing of the CMAF header should be added eventually to generate the MPD.

This script is also needed to the DASH Profile for CMAF content done in

[2020-06-19 07:21] haudiobe commented on #6
The content options are documented in the wiki page for each Profile. The available content options are documented. We may move this documentation back to the code creating markdown pages.

[2020-06-19 07:24] haudiobe commented on #3
Add it to Program Information. @eceozturk
Add this information also to the content model in CTA WAVE. @haudiobe

[2020-06-19 07:24] jpiesing commented on #6
Ideally someone would take a list of content options, cross-reference this against ffmpeg to see which ones could be generated, generate an example of each and cross-check with stream analysis tools that the option is generated 1) as we would expect and 2) according to the specifications.

[2020-07-15 15:58] haudiobe commented on #6
Feedback from @eceozturk

I have not done the complete check but some features that I know are as follows:
- Sample entry avc1 is supported but not avc3. When specifying the encoder in the ffmpeg command (“libx264” can be searched in the source code), directly avc1 is used. (Representation class in the code.)
- VUI information is optional. This can be provided with “color_primaries”, “color_trc” a

[2020-07-16 01:16] jamrial commented on #6
avc3 is supported by using the tag option and avc3 as argument, otherwise avc1 is used. The presence of in-band parameter sets depends on the output of the encoder, but there are bitstream filters available that remove or inject them if needed (dump_extradata and remove_extradata).

Fragmentation is handled by the frag_type, frag_duration and seg_duration dash muxer options as follows:
one chunk p

[2020-07-27 15:40] haudiobe commented on #2
Call 2020/07/27: We need to figure out exact CMAF parameters.

[2020-07-27 15:50] haudiobe opened #9 "CMAF Test Stream Documentation"
Determine list of CMAF test streams to create and the annotated mezzanine content to use for each of them.

We need a single document, web page, to aggregate all of this information.

[2020-07-29 15:26] haudiobe commented on #6
DPCTF 2020/07/29: add the above parameters to the script

[2020-07-29 16:04] jpiesing commented on #9
This is the document from before with the old material (mezzanine content annotation) removed.
[wave-device-playback-stream-production-annotation-2020-07-29.docx](https://github.com/cta-wave/Test-Content-Generation/files/4995991/wave-device-playback-stream-production-annotation-2020-07-29.docx)

[2020-07-29 16:07] jpiesing commented on #9
My understanding of the discussion on July 29th was that it was desirable to have both
1) a minimum set of streams which exercise each option and
2) a set of streams that differ from a baseline by only one option
Normally the minimum set would be used but when something doesn't work, the set that differ from the baseline by just one option would help focus in on where the problem is.

[2020-07-31 20:15] jpiesing commented on #9
I made a list of streams in this project's Wiki.
https://github.com/cta-wave/Test-Content-Generation/wiki/AVC-test-streams
It may be easier to review than the Word file.

[2020-09-01 21:00] RodolpheFouquet opened #11 "How to use the different fingerprint files for all the streams"
On the Wiki, here, you can see that we need to generated 15 different streams https://github.com/cta-wave/Test-Content-Generation/wiki/AVC-test-streams

However, here, on the [Mezzanine](http://dash.akamaized.net/WAVE/Mezzanine), we have only 1 to 3 versions of ToS or Croatia for every resolution.

I don,t really understand how the mapping should be done here.

[2020-09-02 07:30] jpiesing commented on #11
Does this help ....

We need to ensure that each test stream is run at least once and that each test program has the right streams to run.
- Some test streams will only be used once with one test program (e.g. the test program for simple linear playback from beginning to end) because that's enough to test that a particular content option works.
- Some test streams will be used with more than one t

[2020-09-02 11:39] RodolpheFouquet commented on #11
Understood

[2020-09-02 11:39] #11 closed

[2020-09-02 11:41] nicholas-fr commented on #11
@jpiesing  That matches my understanding.

We have mezzanine streams for all the resolutions to be tested.
The mezzanine streams enable use of a unique label for each different track within a given CMAF switching set, used for a given test.
Up to 3 label variants for some mezzanine resolutions are there for tests requiring multiple video tracks that vary other than by resolution.

[2020-12-01 11:16] yanj-github commented on #9
We made a contents options and E-AC-3 and AC-4 streams' list based on our understandings of the instructions and what had been done for AVC test streams and AAC. The document is attached. Let us know if you have any comments.
[E-AC-3 and AC-4 Test Streams.docx](https://github.com/cta-wave/Test-Content-Generation/files/5622133/E-AC-3.and.AC-4.Test.Streams.docx)

[2020-12-01 15:24] jpiesing commented on #9
I'm not really qualified to comment but one thing I notice is the fragment duration of 2s. I believe in other places, 960ms has been mentioned as a common short fragment duration and 4*960ms = 3.84s as a common longer fragment duration.

[2020-12-01 15:50] yanj-github commented on #9
Thanks for your comment Jon, can you tell me where do you get this from please? Idont think we heard if this and couldnt find this online either.

[2020-12-01 15:54] jpiesing commented on #9
DVB DASH 4.5 says the following;

It used to be 1s but was changed to 960ms and the note was added.

[2020-12-02 10:05] yanj-github commented on #9
Thanks Jon for the information, does 960ms then become incompatible with the video that is already generated? The 2s duration was taken from the AVC video and also the AAC audio wiki also state that it is 2s.

[2020-12-02 10:12] IngoIIS commented on #9
The AAC values are placeholders at the moment. I would suggest to follow DVB for the lower boundary. Is there a best practice for the upper values, something around 5-10 seconds? Would this even be relevant for what we're trying to achieve here?

[2020-12-02 12:09] jpiesing commented on #9
Here is the logic behind the 960ms value from @RufaelDev

It is suggested this might be specific to AAC though.

[2020-12-02 12:47] RufaelDev commented on #9
Advantage of 960 ms and multiples is that you can achieve fragment boundary alignment for aac (45)  and e-ac3 (30) for ac-4 the audio video alignment is built in (audio samples can have the same duration as video frames)

[2020-12-02 13:02] IngoIIS commented on #9
Same for MPEG-H Audio, that allows flexible segment lengths. I believe the discussion here is more about legacy audio codecs and resonable settings for test content.

[2020-12-08 20:48] nicholas-fr opened #13 "Mapping CFHD test stream IDs & mezzanine to test content"
Our expectation is that test content should be generated using the mezzanine file matching the resolution of the generated track.
This would ensure the video contains the appropriate label: a specific letter for each resolution, and a number to differentiate tracks part of a switching set that share the same resolution but have other differences such as bitrate or frame rate.

Please see [this spr

[2020-12-08 20:48] nicholas-fr opened #14 "Absence of audio track prevents testing AV sync"
Test content is missing an audio track (cannot test AV sync).
For video tests, propose to add a switching set with a single audio track with mezzanine audio encoded using AAC core media profile.

[2020-12-08 20:51] nicholas-fr opened #15 "Missing frames at end of test streams"
Test content seems to be missing the last frames (tested with DASH.js):
- 60fps ends on frame 3599 instead of 3601 (3600 with content + last red frame signalling end of content).
- 30fps half frame rate ends on frame 3595 (missing 3597, 3599 + last red frame).

[2020-12-08 20:59] nicholas-fr opened #16 "Combination of full and half frame rates in same switching set"
The impact of implementing tests combining full and half frame rates in the same switching set on the observation framework and the mezzanine content needs to be considered.

Using 50Hz or 60Hz mezzanine content for 25Hz or 30Hz content results in frames being skipped and gaps in the sequence of frame numbers and QR codes. Creating 25Hz or 30Hz mezzanine content would avoid skipped frames but woul

[2020-12-08 21:00] nicholas-fr opened #17 "Longer stream for AV sync testing"
Currently we generate 60s test streams. For AV sync testing purposes we may want to generate a longer test stream, e.g. 15 min.
Propose to add this to the backlog.

[2020-12-15 11:30] jpiesing opened #18 "Test stream coverage of fractional frame rates"
Do we need test streams for fractional frame rates that cover all the content options?

- If we have full coverage at 60Hz, would it be sufficient to have just enough to test CMAF switching sets at 29.97/59.94? e.g. For AVC, 1920x1080 and 1280x720 in each of 59.94 and 29.97?
- Hence what tests would be worth running for the fractional frame rates?

[2020-12-15 16:36] jpiesing commented on #16
December 15th meeting
Preference for 25Hz and 30Hz content to be derived from 25Hz and 30Hz mezzanine content with no missing frames.
Is there space in the QR code to encode the frame rate? Yes but would mean recoding everything.
Next steps
@nicholas-fr Will upload a 30Hz mezzanine.
Eurofins to comment here.

[2020-12-15 16:36] louaybassbouss opened #19 "Bundle Test Content in a ZIP file"
This enables the test runner to easily download test content. Example ZIP files are available in [this folder](http://dash.akamaized.net/WAVE/ContentModel/SinglePeriod/Fragmented/).

[2020-12-15 16:38] jpiesing commented on #15
December 15th meeting
Alternatively the frames could be there & dash.js may not be playing them.
dash.js may terminate playback at the last point there are both video and audio.
@nicholas-fr Check in a video editor if the last frames are actually there.

[2020-12-15 16:40] louaybassbouss opened #20 "Provide list of available audio/video content e.g. in a JSON file"
This will help the download script in the test runner to identify available content to download. Each entry of the JSON file includes the URLs of the video and audio content (ZIP files).

[2020-12-15 16:43] jpiesing commented on #13
December 15th meeting

Confirmed.

Choice of which streams to generate is deferred pending resolution of staffing issues.

[2020-12-15 16:47] jpiesing commented on #18
September 15th meeting
Expect that implementations that support 60Hz will support fractional rates as well.
Conclusion
Start with limited support for fractional and expand later if there is a need.

[2020-12-15 16:47] #18 closed

[2020-12-15 16:49] jpiesing commented on #17
December 15th meeting
No input so indeed is added to the backlog.

[2020-12-15 16:51] jpiesing commented on #14
December 15th
This is an issue with the script Rodolphe wrote so deferred until staffing issues are resolved.

[2020-12-15 18:12] nicholas-fr commented on #20
The test content that has already been generated is located here:
https://dash.akamaized.net/WAVE/vectors/

[This JSON file](https://dash.akamaized.net/WAVE/vectors/database.json) details the content options of each switching set, the relative path to the MPD and for each track, the resolution, frame rate, bitrate and source mezzanine content.

This currently requires use of the MPD to download th

[2020-12-15 18:54] jpiesing commented on #19
FYI this issue arises from discussions in the December 15th meeting arising from https://github.com/cta-wave/dpctf-tests/issues/7 and https://github.com/cta-wave/dpctf-tests/issues/9 .

[2020-12-15 19:42] nicholas-fr commented on #15
Checked with VLC v3.0.11 and the last frames are actually present (although VLC also doesn't always play the last frame).
So this was due to DASH client behaviour and not a test stream issue.
Following the explanation Will gave in today's call, I'll have a look into the mezzanine content generation.
It seems plausible that this is in fact caused by how the start/end frames are inserted (without au

[2020-12-15 20:07] nicholas-fr commented on #16
30Hz mezzanine streams (270p to 1080p) have been encoded and uploaded:
https://dash-large-files.akamaized.net/WAVE/Mezzanine/

[2020-12-15 20:12] jpiesing commented on #16
@nicholas-fr Does the JSON file listing all the media automatically update?

[2020-12-15 20:22] nicholas-fr commented on #16
The JSON file doesn't list the [mezzanine content](https://dash-large-files.akamaized.net/WAVE/Mezzanine/).
The [JSON file](https://dash.akamaized.net/WAVE/vectors/database.json) lists the [test streams generated](https://dash.akamaized.net/WAVE/vectors/avc_sets/), and is updated automatically when test streams are generated using the [run-all.py script](https://github.com/cta-wave/Test-Content-Ge

[2020-12-15 20:28] jpiesing commented on #16
Thanks. Sorry.

[2020-12-15 20:41] nicholas-fr commented on #16
I'm glad you asked, as it prompted me to check how it was actually created/updated in the latest test content generation scripts.

[2020-12-16 15:16] yanj-github commented on #16
Yes, we prefer to have mezzanine contents for each frame rate (e.g: 25Hz and 30Hz content to be derived from 25Hz and 30Hz mezzanine content). Thanks @nicholas-fr for getting 30Hz mezzanine streams done.
And we would like to have the frame rate encoded in QR code please.

[2020-12-16 17:38] jpiesing commented on #16
Thanks. @nicholas-fr has finished until the new year but modifying the contents of the QR code will get looked at then & all the mezzanine content regenerated.

[2021-01-04 20:17] nicholas-fr commented on #16
We will need to agree on the composition of the text string including the frame rate.
The related mezzanine issue with a proposal for this can be found [here](https://github.com/cta-wave/mezzanine/issues/21).

[2021-01-18 19:53] nicholas-fr commented on #15
I did not find anything in the mezzanine generation that would explain this issue.
As such, the most plausible explanation is that it's due to client behaviour.

[2021-01-18 19:53] #15 closed

[2021-01-19 15:56] louaybassbouss commented on #19
Any update on this issue?

[2021-01-22 15:11] rbouqueau commented on #14
Could you please give us a pointer on the audio available content (or how to generate it) ? I don't see anything in http://dash.akamaized.net/WAVE/Mezzanine.

[2021-01-22 15:30] jpiesing commented on #14
The .mp4 files have both video and audio in them.

[2021-01-22 15:34] rbouqueau commented on #14
Excellent, then it indeed looks like a bug. I'm taking this issue.

[2021-01-22 15:49] jpiesing commented on #14
I know it's a little confusing - these files would ideally have been prores but ffmpeg prores output didn't seem to work properly. See https://github.com/cta-wave/mezzanine/issues/15

[2021-02-10 21:03] rbouqueau opened #22 "naming convention for output folders"
Hi @louaybassbouss

@nicholas-fr and I got an email discussion about the opportunity to find a better naming the output folders. At the moment these folders are called '1', '2', etc. (see http://dash.akamaized.net/WAVE/index.html?cache=clear)

Nicholas mentioned that we could think of a naming convention related to the use of the content. For example
- ss1 for switching set 1 that contains multipl

[2021-02-11 09:02] jpiesing commented on #22
@rbouqueau @louaybassbous @nicholas-fr

Looking at where we want to be in a few months time, I could see a hierarchy something like this ...

1st level - WAVE media profiles (codecs)
2nd level - only for video, 50Hz / 60Hz (?)
3rd level - CMAF switching sets (as per the original proposal from @rbouqueau )

[2021-02-11 09:43] nicholas-fr commented on #22
So for example, would this give the following?

**AVC 15/30/60Hz**:
https://dash.akamaized.net/WAVE/vectors/avc/15_30_60/ss1/
https://dash.akamaized.net/WAVE/vectors/avc/15_30_60/t1/
[...]
https://dash.akamaized.net/WAVE/vectors/avc/15_30_60/tn/

**AVC 14.985/29.97/59.94Hz**:
https://dash.akamaized.net/WAVE/vectors/avc/14.985_29.97_59.94/ss1/
https://dash.akamaized.net/WAVE/vectors/avc/14.985_29.9

[2021-02-11 13:41] jpiesing commented on #22
That's the sort of thing I had in mind.

[2021-02-11 15:28] louaybassbouss commented on #22
Also fine for me

[2021-03-02 15:43] jpiesing opened #23 "error in AVC content options & hence in list of test streams to be generated"
There's at least one error in the list of AVC content options & hence in the list of content options to be generated.

The draft update DPCTF spec listed "with and without VUI timing information." as one of the content options however CMAF makes this mandatory.

![image](https://user-images.githubusercontent.com/8490792/109673390-4477ee80-7b76-11eb-8b75-6a0dfb649d75.png)

@nicholas-fr will cross-r

[2021-03-02 15:44] jpiesing commented on #23
Mis-understanding.

[2021-03-02 15:44] #23 closed

[2021-03-17 08:59] jpiesing opened #24 "change CMAF segment durations for AVC from 2s and 5s"
Test 9.4 needs streams where video and audio segments can be aligned.
We either make dedicated streams for test 9.4 or change all streams to enable video and audio segments to be aligned.

From https://websites.fraunhofer.de/video-dev/why-and-how-to-align-media-segments-for-abr-streaming/ , this suggests we might change 2s and 5s to the following;

For 25 & 50Hz video - 1.92s and either 3.84s or 6

[2021-03-17 09:11] louaybassbouss commented on #24
@dsilhavy FYI

[2021-03-17 09:13] jpiesing commented on #24
I've added a comment to the spreadsheet that was used to track the content options. https://docs.google.com/spreadsheets/d/1hxbqBdJEEdVIDEkpjZ8f5kvbat_9VGxwFP77AXA_0Ao/edit?usp=sharing

[2021-03-17 09:21] andyburras opened #25 "Test content media generation for DPCTF section 9 testing"
The DPCTF section 8 requirements are testing single-track media playback, so test content can be generated and accessed as a single CMAF/WAVE track referenced by a single MPD.

Section 9 requirements are testing the presentation of audio and video including the AV sync., so CMAF/WAVE tracks need to be combined.

Currently the test vector at http://dash.akamaized.net/WAVE/vectors/ is held as a set

[2021-03-17 09:46] jpiesing commented on #25
@RodolpheFouquet @louaybassbouss

Here are some thoughts;

I would expect every media profile to be tested with 8.2 to 8.14 and 9.2 to 9.4 all inclusive.
The simplest answer would be to test each video media profile with HE-AAC audio and each audio profile with AVC.
What is not needed is testing all resolutions and content options. It might even be sufficient to use CMAF Switching Sets with one vi

[2021-03-17 09:59] louaybassbouss commented on #25
Agree with @jpiesing  comments

@jpiesing you need to pass 2 MPDs one for video and one for audio  (see [sample.csv](https://github.com/cta-wave/dpctf-tests/blob/master/sample.csv) ). If a test requires only video, then you can keep the audio MPD empty. BUT if you have audio and video in the same MPD, you can pass the same MPD URL in the sample.csv and it will work as well (because the tests only

[2021-03-17 10:37] rbouqueau commented on #25
@andyburras Do you have examples?

@andyburras That's a good point I thought about. We can either duplicate the content or put the cmaf tracks under BaseURLs. Do you see any limitation with this approach?

[2021-03-17 11:23] louaybassbouss commented on #25
@rbouqueau the tests accepts one video MPD and one audio MPD. If you have multiple video MPDs, then we need to combine them via script in a single MPD. Alternatively you can use a single MPD with multiple periods.

[2021-03-17 11:39] rbouqueau commented on #25
This is an important discussion because it touches to the architecture of the test-generation script that I'm working on.

The direction I'm taking right now to generate one encoding, then several CMAFs per encoding, then several MPDs per CMAF combination. This makes the assumption that each step may re-use in several ways the result from the previous step - let me know if it doesn't make sense.

[2021-03-17 11:43] jpiesing commented on #25
The only MPD combining I can see is for the tests for splice conditioned content, 8.8, 8.14 and 9.4. As @louaybassbouss explained, there is no need to combine video and audio into the same MPD.

@rbouqueau Can you expand a little more on 'several CMAFs per encoding' and 'several MPDs per CMAF'? Is this just to have a generic solution or did you have specific use-cases in mind? So far (and in my in

[2021-03-17 11:49] jpiesing commented on #25
@andyburras given @louaybassbouss 's explanation that the test runner takes 1 video MPD and 1 audio MPD, would merging video and audio into the same MPD ever be needed?

Sorry but I really don't see the point that's being made here. For example, there's a CMAF AVC video switching set with one track (say 1080p25) and a CMAF audio switching set with one track (say E-AC-3). References to those are pu

[2021-03-17 11:57] andyburras commented on #25
Yes, I think that means it's effectively doing option (B), which simplifies the test content generation considerably, and should remove the need for combining MPDs for audio and video content.
As you point out, that then just requires splicing of content to be handled.

[2021-03-17 13:33] rbouqueau commented on #25
Ah ah if someone missed something it is probably me ;) Please correct me when I'm wrong.

So for each element of the [row 2](https://docs.google.com/spreadsheets/d/1hxbqBdJEEdVIDEkpjZ8f5kvbat_9VGxwFP77AXA_0Ao/edit#gid=0)) we have "1 encoding = 1 CMAF = 1 MPD" to generate one CFHD/AVC switching set with a single video track.

In addition we have to generate the special "switching set 1" (previously

[2021-03-17 16:05] louaybassbouss commented on #25
@rbouqueau we need one MPD for video and one MPD for audio the is no need to recombine them. But if you have multiple MPDs for video (e.g. for the tests for splice conditioned content, 8.8, 8.14 and 9.4) then we need to combine them in single video MPD. In this case, the script that manipulates the XML/MPD can be helpful.

[2021-03-17 16:22] jpiesing commented on #25
@rbouqueau Yes for streams <20 but I believe the streams >20 are only used in the switching set test.

Yes.

[2021-03-18 17:00] andyburras opened #26 "Query on the correct version of test content to use"
Rather confused with the correct test content to be using. I see there is:
https://dash.akamaized.net/WAVE/vectors/avc_sets/1/ (which contains 6 Representations)
https://dash.akamaized.net/WAVE/vectors/avc_sets/1.ori/ (which contains 9 Representations)

https://dash.akamaized.net/WAVE/vectors/database.json gives "mpdPath": "avc_sets/1/stream.mpd"
So I was taking "1.ori" to mean "original" and that

[2021-03-18 19:58] rbouqueau commented on #26
Hi Andy,

I'm sorry about that. You are right:
- '1' was generated the script but has the "dropped frames" issue. I don't see the 04-Nov-2020 timestamp (more below).
- '1.ori' case generated with the old script, before I took over it. It is not compliant. This one should be removed from the server.
- 'gpac' was based on '1' but packaged differently. It plays with no dropped frame. Apparently the m

[2021-04-06 16:57] mbergman42 opened #27 "An Annotations specification with version is required"
The Mezzanine content annotations need to be documented in a formal spec with revision control.  The spec doesn't need to be public but the details do need to be written down.  As we partner with other groups about content, we'll need to share the Mezzanine content specifications.  See also the new bit pattern (https://github.com/cta-wave/mezzanine/issues/28), which should be included where used.

[2021-04-28 19:39] rbouqueau commented on #13
See newly updloaded content at https://dash.akamaized.net/WAVE/vectors/avc_sets/?cache=clear

[2021-04-28 19:41] rbouqueau commented on #14
What was the plan about audio for the single track switching sets? Is audio only for the ss X1?

[2021-04-28 19:43] rbouqueau commented on #19
What is the granularity of the zip files? Would one zip file per switching set (i.e. per subfolder) be ok?

[2021-04-28 19:45] rbouqueau commented on #26
I've uploaded some new content (https://dash.akamaized.net/WAVE/vectors/avc_sets/?cache=clear according to #22 naming convention). I plan to move the deprecated content to a separate folder until deletion is decided.

Do we want to put versions to the uploaded content? In particular if we plan to update it it may be useful. What do you think?

[2021-04-28 19:47] rbouqueau commented on #6
Can this issue be closed? FYI here is the table of implemented parameters: ```Stream ID , picture timing SEI message , VUI timing information , Sample entry (CMAF 9.4.1.2) , Sample entry (CMAF 9.4.1.2) in header , CMAF fragment duration in seconds, Initialization constraints ,frag_type```

[2021-04-29 06:49] jpiesing commented on #19
@louaybassbouss ?

[2021-04-29 08:09] louaybassbouss commented on #19
@jpiesing the Zip should contain the manifest and all related audio/video files/segments (of course keep the file structure as it is). Basically, each item in [database.json](https://dash.akamaized.net/WAVE/vectors/database.json) should have a reference to the corresponding zip file. This [download script](https://github.com/cta-wave/dpctf-tests/blob/master/download-content.py) parses database.jso

[2021-04-29 09:01] jpiesing commented on #19
@rbouqueau Is this clear enough for you?

[2021-04-29 09:42] rbouqueau commented on #19
That's clear. For each subfolder (#22) I will create a zip file.

[2021-04-29 09:44] jpiesing commented on #14
We need content for both of the following;
a) video-only switching set tests (8.5, 8.11)
b) tests for CMAF Presentations that need both video and audio (9.x)

For the CMAF presentation test content, we can use the audio that's in the mezzanine content & just encode it as HE-AAC. This audio also has beeps added that should be synchronised with the flashes in the audio

@rbouqueau Does this answer t

[2021-04-29 10:02] jpiesing commented on #6
I think this issue can be closed.
@haudiobe as the original proposer, do you agree?

[2021-04-29 14:40] rbouqueau commented on #14
Thank you Jon. I think it is clear enough for now.

[2021-04-29 16:19] rbouqueau commented on #19
Content was uploaded e.g. https://dash.akamaized.net/WAVE/vectors/avc_sets/t1.zip (t1 to t34) or https://dash.akamaized.net/WAVE/vectors/avc_sets/ss1.zip

[2021-04-30 08:05] louaybassbouss commented on #19
@rbouqueau  thanks a lot I just downloaded t1.zip LGTM :).  One minor thing is there a reason to have the `output` folder in the zip file?  Do you know when [database.json](https://dash.akamaized.net/WAVE/vectors/database.json) will be updated to include the `zipPath`.

[2021-04-30 08:15] rbouqueau commented on #19
I'll fix it.

The database.json is actually updated (though not with the zipPath). But the cache policy on this server makes it unusable for me. It drives me crazy. Will do soon.

[2021-04-30 08:36] louaybassbouss commented on #19
Thanks @rbouqueau we will test beginning of next week is not urgent for today.

[2021-04-30 11:35] rbouqueau opened #29 "Generate 12.5/25/50 new content"

[2021-04-30 11:35] rbouqueau opened #30 "Generate fractional fps new content"

[2021-04-30 11:35] rbouqueau opened #31 "Integrate encryption to the python scripts"

[2021-04-30 11:39] rbouqueau commented on #19
zipPath implemented.

[2021-05-10 15:13] jpiesing commented on #14
Tests for 8.x don't need audio. If the MPD includes audio then this should be ignored by the HTML+JS code for that test. The observation framework should ignore it.

Jon

________________________________
From: Andy Burras - EDT ***@***.***>
Sent: 10 May 2021 17:03
To: cta-wave/Test-Content-Generation
Cc: Jon Piesing; State change
Subject: Re: [cta-wave/Test-Content-Generation] Absence of audio tra

[2021-05-10 15:41] jpiesing commented on #14
For the 8.x tests for AVC (or indeed any video media profile), the audio in those MPDs could be ignored.

Not for the 8.x tests.

[2021-05-17 18:13] jpiesing opened #32 "streams t27 and t29 not 16:9"
Streams t27 and t29 are not 16:9, 213/120 could be a rounding error but 180/101 is a bit further off.

t27/stream.mpd:  &lt;AdaptationSet segmentAlignment="true" maxWidth="852" maxHeight="480" maxFrameRate="30" par="213:120" lang="und" startWithSAP="1" contentType="video" segmentProfiles="cmfs, cmff">

t28/stream.mpd:  &lt;AdaptationSet segmentAlignment="true" maxWidth="768" maxHeight="432" maxFra

[2021-05-17 19:12] jpiesing opened #33 "significant differences in MPD between t10 and t1, t11-t17"
t10-t17 are supposed to be the same as t1 except for a content option. The MPD for t10 however has a number of small differences.
(Edited)

[2021-05-18 07:22] jpiesing commented on #33
[code]

[2021-05-18 07:24] jpiesing commented on #33
This is the diff between the MPD for t10 and for t11. Something similar applies for t10 and t12 onwards.
[code]

[2021-05-18 07:36] jpiesing commented on #32
@haudiobe Do 852x480 and 720x404 require special treatment to come out as 16:9?

[2021-05-18 07:47] jpiesing commented on #26
@andyburras Considering the proposal in #22 and that 15_30_60 content has been uploaded in line with that proposal, can this issue be closed now?

[2021-05-18 07:50] jpiesing commented on #22
Since everyone seems to be OK with this proposal & it's been implemented for 15_30_60, can the issue be closed?

[2021-05-18 07:56] jpiesing commented on #20
@louaybassbouss is https://dash-large-files.akamaized.net/WAVE/vectors/database.json OK for you?

Can this issue be closed?

[2021-05-18 07:58] andyburras commented on #26
Yes, I'll close it.

[2021-05-18 08:00] louaybassbouss commented on #20
@jpiesing  LGTM issue can be closed

[2021-05-18 08:14] jpiesing commented on #16
https://dash-large-files.akamaized.net/WAVE/vectors/avc_sets/15_30_60/ss1/stream.mpd includes 2 x 60Hz and 1 x 15Hz representation as well as the more common 30Hz representations.

@nicholas-fr Can this issue be closed?

[2021-05-18 09:14] jpiesing commented on #13
@nicholas-fr Please can you review this?

[2021-05-18 09:47] rbouqueau commented on #32
Good catch. If the intent was not to test SAR changes then this is likely an issue.

The code includes the possibility to force the SAR. However this was not explicitly specified in [this table](https://docs.google.com/spreadsheets/d/1hxbqBdJEEdVIDEkpjZ8f5kvbat_9VGxwFP77AXA_0Ao/edit#gid=0). Hence not linked. I think we should add an explicit column with the SAR ([here](https://github.com/cta-wave/

[2021-05-18 09:50] rbouqueau commented on #33
From the legacy script we make some manual manipulation on the manifest. I put comments in the code to try to get rid of this. Apparently this post-processing went wrong for t10 but the error was not catched. Let me check.

[2021-05-18 09:56] jpiesing commented on #32
My intent was not to test SAR changes but I defer to @haudiobe  and also I don't know what CMAF says about them.

[2021-05-18 11:37] jpiesing commented on #19
@louaybassbouss  Can this be closed now?

[2021-05-18 11:45] louaybassbouss commented on #19
@jpiesing LGTM issue can closed

[2021-05-18 11:54] jpiesing commented on #19
@rbouqueau Please either close this issue if you think that's OK or be clear what still needs to be done.

[2021-05-18 12:04] jpiesing opened #34 "<AssetIdentifier schemeIdUri="urn:cta:org:wave-test-mezzanine:unique-id" value="0"/>"
The MPDs in vectors/avc_sets/15-30-60 all seem to include the following;
[code]
Is there any documentation of what this means?
Is it just a placeholder?
If it's just a placeholder, what can it best be used for?

[2021-05-18 12:19] #19 closed

[2021-05-18 12:21] rbouqueau commented on #34
No idea. It existed before I even arrived. Let's see at our next call if anyone knows what it means. Otherwise we can remove.

[2021-05-18 12:30] jpiesing commented on #34
I wonder if it might be a (partial) solution to Thomas's request in https://github.com/cta-wave/Test-Content-Generation/issues/3 ?

[2021-05-18 12:31] jpiesing commented on #31
I can see lots of encrypted content (cenc) in dash.akamaized.net/WAVE/vectors/avc_sets/15_30_60 .
@rbouqueau  Is this done now?

[2021-05-18 12:35] rbouqueau commented on #31
It is not automatized. I put the keys [on the repo](https://github.com/cta-wave/Test-Content-Generation/blob/master/DRM.xml) and the manual instructions are [here](https://github.com/cta-wave/dpctf-tests/issues/12#issuecomment-778804472).

[2021-05-18 12:39] jpiesing commented on #31
So are you waiting for the conclusion of https://github.com/cta-wave/dpctf-tests/issues/12 before updating the scripts to make it automatic?

[2021-05-18 12:40] jpiesing commented on #25
What is left to do for this one? For 9.2, Regular Playback of a CMAF Presentation, we can use

dash.akamaized.net/WAVE/vectors/avc_sets/15_30_60/t1/

The same can be used for 9.3, Random Access of a WAVE Presentation.

For 9.4, Splicing of WAVE Program with Baseline Constraints, we can use the same content as 8.8 assuming the MPD for that includes both video and audio Adaptation Sets.

Is there an

[2021-05-18 12:48] jpiesing commented on #14
@nicholas-fr As far as I can see, the content includes both video and audio Adaptation Sets. Do you agree? Can this issue be closed?

[2021-05-18 12:51] rbouqueau commented on #31
Not only but that's indeed the only technological point preventing automation.

[2021-05-18 12:52] rbouqueau commented on #25
If we consider this issues covers 15/30/60 than I think it is complete.

[2021-05-18 12:59] andyburras commented on #14
I'm still unclear on the usage of this audio. It's not required for the 8.x tests.
I thought for the 9.x Presentation playback tests, that Test Runner used one MPD for the video and a different MPD for the audio, or is that not the case?

[2021-05-18 13:02] jpiesing commented on #14
For the 8.x tests, the audio can be ignored.
For the 9.x tests, the same MPD can be used for both video & audio.

[2021-05-18 13:06] jpiesing commented on #33
Another issue with t10 is that t10.zip is missing. It seems to be the only one so perhaps it's another casualty of the same issue?

[2021-05-18 13:15] jpiesing commented on #25
@andyburras As the original proposer, please can you review this discussion & see if anything is still open. If nothing is open, please close the issue. If anything is still open, please summarise so that we can address it & move forwards.

[2021-05-18 13:39] cta-source commented on #34
I don't know about it being a (partial) solution to Thomas's request (yea or nay).  I do recall a conversation about something that might be related.  Could it be equivalent to the specification level of the mezz annotations?  We discussed locking down a spec for mezzanine annotations -- in process, see [Mezzanine Issue #34](https://github.com/cta-wave/mezzanine/issues/31#issuecomment-814903531).

[2021-05-18 14:00] andyburras commented on #25
I think things are much clearer now. To summarise:

- 9.x Presentation tests may either reference separate MPDs for video and audio, or may reference the same MPD for both.
- Media proponents would be responsible for either scripts or external procedures to generate their codec variants, CMAF packaged with MPDs suitable for the existing 8.2 to 8.14 and 9.2 to 9.4 tests. Plus adding these to the "m

[2021-05-18 14:40] jpiesing commented on #25
Agree.

Yes.

Yes although there could be exceptions if an advanced media profile was never used in the real world with HE-AAC or AVC.

Yes.

Someone makes a pull request against the existing scripts which is then reviewed by other people?

An issue is raised in the mezzanine content project which is resolved by 1) a pull request to change the mezzanine content scripts and then 2) the updated scri

[2021-05-18 14:59] jpiesing opened #35 "streams t18 and t19 not required?"
Streams t18 and t19 have been created in https://goo.gl/maps/hmDRmTHvHF9ey3828 but were not listed in the spreadsheet at https://docs.google.com/spreadsheets/d/1hxbqBdJEEdVIDEkpjZ8f5kvbat_9VGxwFP77AXA_0Ao/edit?usp=sharing .

I left a gap between t17 and t20 in case other content options were found.

Am I missing something?

[2021-05-18 15:17] jpiesing commented on #34
It might be worth considering using this (or something like it) for information on the content options that are not already somewhere else in the MPD - which would otherwise only be accessible using stream analysis tools.

- with and without picture timing SEI message.
- with and without VUI timing information.
- Sample entry, see CMAF clause 9.4.1.2
- CMAF Fragment durations
- Initialization Cons

[2021-05-18 16:00] cta-source commented on #34
Perhaps we need two tags:
1) Tag for the spec version of the Test Content Specification (covers mezzanine annotations and some requirements of encoded content, such as file name format)--this spec version is so that the test suite can programmatically determine what annotations and other details apply, especially if they change.  I've dropped the above tag into the draft specification for now, but

[2021-05-18 16:02] rbouqueau commented on #35
You're right. My mistake.

[2021-05-18 16:13] cta-source commented on #34
This seems fairly straightforward so I've dropped the items #1 and #2 in the immediately-above "Perhaps we need two tags" comment into the draft Test Content Format spec.  We still need the actual tag definitions, though.

[2021-05-19 07:40] andyburras commented on #25
[code]

Is the expectation that media profile proponents will need to track any such changes going forwards, and make the necessary amendments to their scripts/procedures and test content?

[2021-05-19 08:38] jpiesing commented on #25
Ideally the scripts would be contributed to github and use publicly available tools so anyone could track such changes going forwards.
If the media profile proponent has to use tools that are only available to them and/or cannot contribute the scripts to github then a discussion would be needed.

[2021-05-19 09:32] #25 closed

[2021-05-19 09:32] andyburras commented on #25
Thanks @jpiesing I think this is a lot clearer now. Closing.

[2021-05-25 12:16] #35 closed

[2021-05-25 13:06] rbouqueau commented on #33
Ok this is fixed.

I understand what happened. The specific version of gpac used couldn't chains the bsrw (bitstream rewrite filter) that removed the SEIs, change the SAR, and set the VUI. The error was actually reported but I missed it.

[2021-05-25 14:32] nicholas-fr commented on #14
Resolved, with the caveat that ss1 cannot be used for AV sync testing as the same audio track is used for all the different video representations with different frame rates (not to imply that ss1 was intended for AV sync testing, just a clarification for the avoidance of doubt).

[2021-05-25 14:32] #14 closed

[2021-05-25 14:33] nicholas-fr commented on #16
Resolved, ss1 contains all 3 frame rates of the 15/30/60 family.

[2021-05-25 14:33] #16 closed

[2021-05-25 14:56] nicholas-fr commented on #13
Looking at the mezzanine to test content mapping, for the non-encrypted test content in the [15_30_60](https://dash.akamaized.net/WAVE/vectors/avc_sets/15_30_60/) folder, I only have some very minor comments.

3 of the switching sets are not needed (t18,t19,t25):

1. Unclear what t18 and t19 are for as nothing was defined for these as far as I know.
2. t25 is not needed: this variant was only rele

[2021-05-25 15:37] jpiesing commented on #34
May 25th meeting
Wider issue of how to include content metadata in the MPD.
If metadata is in the MPD, what if the content is used without a manifest?
Don't see being used without any manifest, if translating to M3U then content metadata could also be translated.

[2021-05-25 15:43] jpiesing commented on #32
May 25th meeting
@haudiobe to comment.

[2021-05-25 15:52] jpiesing commented on #22
May 25th
Encryption addressed.

[2021-05-25 15:52] #22 closed

[2021-05-25 15:54] louaybassbouss commented on #20
May 25th meeting
Close issue

[2021-05-25 15:54] #20 closed

[2021-05-25 16:25] rbouqueau commented on #13
Ok I understand. That's because t1 was marked based on L1 already but there is no t1 (so this is ignored in the implementation).

4. also fixed.

Let's close if ok.

[2021-06-02 09:40] andyburras opened #36 "README instructions need reviewing and updating"
Instructions state:

Bu this goes to https://onedrive.live.com/view.aspx?resid=D699C028F8104923!23897&ithint=file%2cdocx&authkey=!AHrGy74Jcwl1ZUo which appears to be an extract from the DPCTF spec ?

[2021-06-02 10:21] rbouqueau commented on #36
The whole README needs a refresh. Would you agree to rename the issue? I'll have a look.

[2021-06-02 10:24] andyburras commented on #36
Thanks.... Issue name changed

[2021-06-02 13:20] andyburras opened #37 "Incorrect copyright notice"
I noticed the MPD generation is adding a CTA WAVE Copyright `"<Copyright>CTA WAVE</Copyright>".`

I think this is in breach of the Tears of Steel and Big Buck Bunny Creative Commons Attribution licenses. We're free to copy and redistribute in any medium or format, and to remix, transform, and build upon the material. But it must retain the Creative Commons Attribution 3.0 license, and the original

[2021-06-02 14:31] nicholas-fr commented on #37
For reference, the licenses associated with the source content are present here:
https://dash-large-files.akamaized.net/WAVE/Original/tearsofsteel_4k_LICENSE.txt
https://dash-large-files.akamaized.net/WAVE/Original/DVB_PQ10_VandV_LICENSE.txt

[2021-06-02 15:51] rbouqueau commented on #36
I made a pass.

[2021-06-03 12:31] nicholas-fr commented on #13
My apologies, I misunderstood. I now understand that the streams (media segments) used in ss1 are those created for some of the individual tracks (t1 .. tN). So points 2 and 3 in my previous comment above are incorrect and should be disregarded. Sorry about that.

Why is there no t1 (or t2 or t3) any more? t1, t2 and t3 are required.

t1, t2, and t3 should be created.

t20 should indeed use tos_**

[2021-06-03 13:09] rbouqueau commented on #13
Updated. I'll regenerate the streams tonight.

[2021-06-03 15:59] rbouqueau commented on #13
Done.

[2021-06-07 16:01] nicholas-fr commented on #13
Thanks @rbouqueau.
Although, one last issue, the CMAF fragment duration is missing in switching_sets_single_track.csv for t1, t2, t3.

[2021-06-07 16:19] rbouqueau commented on #13
Thanks. I had fixed that locally with other things but not pushed. Now it is done!

[2021-06-07 16:35] nicholas-fr commented on #13
Thanks!

[2021-06-07 16:35] #13 closed

[2021-06-08 15:46] mbergman42 opened #38 "End user license agreement for click-through access to media segments"
The Tears of Steel and Big Buck Bunny Creative Commons Attribution licenses apply to WAVE test media files, but CTA Legal required some additional terms.  These additional terms were intended to be in an end-user license agreement (EULA), which should be presented to users when they seek to access WAVE test content.  (This is only for the test media, not the test software.)  On clicking "I accept"

[2021-06-08 15:52] mbergman42 commented on #38
Text of the EULA would be,

### Beginning of EULA

**WAVE TEST MATERIAL USER AGREEMENT**

This user agreement (the “License ”) is entered into and is effective as of the date of content download between you (“Test Material User”) and the Consumer Technology Association (CTA)® located at 1919 South Eads Street, Arlington, VA 22202.

**WHEREAS**, CTA Web Application Video Ecosystem (“WAVE”) is an in

[2021-06-08 18:01] mbergman42 commented on #37
This is a bit complicated because CTA Legal determined that a click-through End User License Agreement will be needed as well.  See Issue #38, which picks up on the need for a click-through and has the necessary license text.  This license text directly addresses the copyright requirements mentioned here, and meets obligations for the ToS and BBB CCA licenses.  This issue should be closed when the

[2021-06-09 14:05] jpiesing commented on #37
Open source licenses like the creative commons ones used here permit re-distribution of the content so people will be able to share the content bypassing the click-through EULA. Given this, I think it would be sensible to include CTA information in more than one place.
Also when I look at the creative commons license, CTA is required to provide a link to that license.

For the MPDs based on tears

[2021-06-09 15:59] mbergman42 commented on #37
CTA Legal says, please use this for embedded copyright in place of the "CTA WAVE" copyright statement, where appropriate:

© [Big Buck Bunny](https://peach.blender.org/about/) (2008) and [Tears of Steel](https://mango.blender.org/about/) (2012) by Blender Institute, credited to Ton Roosendaal and Ian Hubert, used and licensed under [Creative Commons Attribution 3.0 Unported (CC BY 3.0)](https://cr

[2021-06-10 09:06] nicholas-fr commented on #37
We need separate text for each piece of source content, so I've separated it out into 3 parts. Could CTA legal confirm this is the text they wanted for BBB and ToS in particular?

I made 2 changes:
- I removed Ian Hubert for the BBB text, as he is not listed in the [team credits](https://peach.blender.org/the-team/).
- The date was wrong for the EBU content, so I updated that.

Here are the 3 sepa

[2021-06-10 13:14] andyburras commented on #36
Looks much better thanks.

[2021-06-10 13:14] #36 closed

[2021-06-10 13:23] mbergman42 commented on #37
Yes, this is great.  Please use this.

Mike Bergman
Consumer Technology Association, producer of CES®
d: +1(703) 907-4366
m: +1(609) 865-4402

From: Nicholas Frame ***@***.***>
Sent: Thursday, June 10, 2021 5:07 AM
To: cta-wave/Test-Content-Generation ***@***.***>
Cc: Mike Bergman ***@***.***>; Comment ***@***.***>
Subject: Re: [cta-wave/Test-Content-Generation] Incorrect copyright notice (#37)

W

[2021-06-10 14:48] rbouqueau commented on #37
Could someone summarize for me what we need to put in the DASH manifest? Do we leave a mention to CTA WAVE?

[2021-06-10 14:59] nicholas-fr commented on #37
I will include the license text in the mezzanine metadata.
You could extract the license text to include in the MPD from that, if that helps?

For example, for mezzanine tos_A1_480x270@15_60.mp4, you would extract the license string from tos_A1_480x270@15_60.json:
I.e.
` "license": "\u00a9 Tears of Steel (https://mango.blender.org/about/) (2012) by Blender Institute, credited to Ton Roosendaal and

[2021-06-11 09:24] rbouqueau commented on #37
Ok. I'll probably extract them manually for the first batch. Since https://github.com/cta-wave/mezzanine/issues/35 is done, do you confirm it is safe for me to regenerate the test content?

[2021-06-11 09:27] jpiesing commented on #37
Comments crossed in the cloud. Yes - see https://github.com/cta-wave/Test-Content/issues/16

[2021-06-22 14:51] jpiesing commented on #32
t27 = https://dash.akamaized.net/WAVE/vectors/avc_sets/15_30_60/t27/stream.mpd
t29 = https://dash.akamaized.net/WAVE/vectors/avc_sets/15_30_60/t29/stream.mpd

[2021-06-23 08:52] jpiesing commented on #32
I've looked at the MPDs in the HbbTV DASH test suite;

- In the tests for 852x480, all have par 16:9 and sar 640:639.
- In the tests for 720x404, some have par 720:404 with sar 1:1, others have par 16:9 with sar 404:405.

Is sar or an equivalent included in CMAF?

[2021-06-23 09:05] rbouqueau commented on #32
NB @jpiesing : it doesn't change the content but the links you gave are deprecated. The latest links are:
- t27 = https://dash.akamaized.net/WAVE/vectors/2021-06-11/avc_sets/15_30_60/t27/stream.mpd
- t29 = https://dash.akamaized.net/WAVE/vectors/2021-06-11/avc_sets/15_30_60/t29/stream.mpd

The latest links can be retrieved from https://cta-wave.github.io/Test-Content/

[2021-06-23 09:19] jpiesing commented on #32
@louaybassbouss  If we have some MPDs with representations sar different from 1:1 (e.g. 640:639 or 404:405), what would the test player do?

[2021-06-23 09:55] louaybassbouss commented on #32
@jpiesing the video element covers the whole screen, if the video aspect ratio is not the same as the screen aspect ratio, then you will see some back areas (either top/bottom or left/right). Do you have an MPD for me?

[2021-06-28 09:04] jpiesing opened #39 "generating unused encrypted streams"
We seem to be generating a encrypted versions of all streams - which I don't believe we need. We have the following tests;
- 8.12 - Regular playback of encrypted content
I expect this would just use stream t1
- 8.13 - Restricted Splicing of Encrypted Content
I cannot understand this one. Is it the same as 8.8 but with all content encrypted?
- 8.14 Sequential Playback of Encrypted and Non-Encrypted

[2021-06-30 20:24] rbouqueau commented on #33
Could you check it is ok now?

[2021-06-30 20:25] rbouqueau opened #40 "fix cenc zip tree structure when automatizing"
https://github.com/cta-wave/dpctf-deploy/issues/23

[2021-07-01 07:26] jpiesing commented on #33
Looks OK.

[2021-07-01 07:26] #33 closed

[2021-07-01 07:46] jpiesing commented on #32
Yes.
https://dash.akamaized.net/WAVE/vectors/2021-06-11/avc_sets/15_30_60/t27/stream.mpd

and

https://dash.akamaized.net/WAVE/vectors/2021-06-11/avc_sets/15_30_60/t29/stream.mpd

Look at the par and sar for both of these.

[2021-07-06 13:04] jpiesing commented on #39
@rbouqueau I see the newly updated database.json still includes encrypted versions of all(?) unecncrypted streams. This is way more than we need - I think it's only t1 that is needed (as well as whatever we end up with for splicing).

[2021-07-06 14:14] rbouqueau commented on #39
@jpiesing Thanks, I'm fixing the json and I'll fix the python script soon

[2021-07-06 15:05] rbouqueau commented on #40
Fixed in 2021-07-05 release

[2021-07-06 15:06] rbouqueau commented on #31
Done in 7d95f9571a89a90185ac37e1fd9472215a0420d2

[2021-07-06 15:07] rbouqueau commented on #37
Done in 739a844d6e7db167de17d51785cf06f3c4f845f2

[2021-07-06 16:02] #40 closed

[2021-07-06 16:02] rbouqueau commented on #39
@jpiesing See https://cta-wave.github.io/Test-Content/, click on the CENC tab. Please close if ok.

[2021-07-06 16:02] rbouqueau commented on #31
closing

[2021-07-06 16:02] #31 closed

[2021-07-06 16:02] rbouqueau commented on #37
@all See https://dash.akamaized.net/WAVE/vectors/2021-07-05/avc_sets/15_30_60/t1/stream.mpd

Please close if ok.

[2021-07-06 16:19] rbouqueau opened #41 "write database.json for encrypted files"

[2021-07-06 16:21] jpiesing commented on #37
@mbergman42  What do you think?

[2021-07-06 16:24] jpiesing commented on #39
Looks good to me.

[2021-07-06 17:05] mbergman42 commented on #37
Looks good to me, thanks.

Mike Bergman
Consumer Technology Association, producer of CES®
d: +1(703) 907-4366
m: +1(609) 865-4402

From: Jon Piesing ***@***.***>
Sent: Tuesday, July 6, 2021 12:21 PM
To: cta-wave/Test-Content-Generation ***@***.***>
Cc: Mike Bergman ***@***.***>; Mention ***@***.***>
Subject: Re: [cta-wave/Test-Content-Generation] Incorrect copyright notice (#37)

@ALL<https://gith

[2021-07-06 19:03] #37 closed

[2021-07-06 19:03] #39 closed

[2021-07-06 19:08] #41 closed

[2021-07-07 09:28] rbouqueau commented on #29
addressed in 739a844d6e7db167de17d51785cf06f3c4f845f2

[2021-07-07 09:28] rbouqueau commented on #30
addressed in dfe8e305db42961cf45fdaee9d343288f5c4d2ed

[2021-07-22 13:22] louaybassbouss commented on #29
@rbouqueau  initial test in desktop browser is completed and successful ;) --> https://github.com/cta-wave/dpctf-tests/issues/44#issuecomment-884887728

[2021-07-22 13:22] louaybassbouss commented on #30
@rbouqueau  initial test in desktop browser is completed and successful ;) --> https://github.com/cta-wave/dpctf-tests/issues/44#issuecomment-884887728

[2021-07-23 09:55] rbouqueau commented on #29
Perfect, thanks for letting us know!

[2021-07-23 09:55] #29 closed

[2021-07-23 09:55] rbouqueau commented on #30
Perfect, thanks for letting us know!

[2021-07-23 09:55] #30 closed

[2021-07-26 08:46] yanj-github opened #42 "Generate a content using mezzanine with black background area"
A new test mezzanine is created here https://github.com/cta-wave/mezzanine/issues/36#issuecomment-882644468
Can you generate a test content with this mezzanine which has a black background area for QR codes please?

[2021-07-26 13:35] jpiesing commented on #42
That is intended. It's just an experiment to see how much of a difference it makes. There's no need for all the streams.

[2021-07-26 15:14] rbouqueau commented on #42
Generated here: https://dash-large-files.akamaized.net/WAVE/vectors/2021-07-26/avc_sets/15_30_60/

[2021-07-26 15:22] louaybassbouss commented on #42
We need to add new combination to the tests.csv. I can do it if you tell me which combination you need. is `sequencial-track-playback` with `t33` ok for you?

[2021-07-26 15:24] yanj-github commented on #42
Thanks all. Yes @louaybassbouss I just need it as 8.2 test. I would like to have the old t33 as well, if you can keep the old one but add the new one please?

[2021-07-26 18:44] louaybassbouss commented on #42
Yes I will not touch the existing tests I will add a new folder  `avc_15_30_60-2021-07-26-online` (and one for `avc_15_30_60-2021-07-26-local`) with one test combination `sequential-track-playback`x`t33`. I will do it tomorrow and let you know.

[2021-07-27 20:03] louaybassbouss commented on #42
@yanj-github a new test `sequential-track-playback`x[`t33`](https://dash-large-files.akamaized.net/WAVE/vectors/2021-07-26/avc_sets/15_30_60/t33/stream.mpd) is generated in the new folder `avc_15_30_60-2021-07-26-online`. Please let me know if you have questions.

[2021-07-29 13:28] yanj-github commented on #42
The new test is not working, I am not sure if this is issue on test or the contents but I tried the following mpd on dash player it didnt work. Can anyone help to investigate please? Not sure why we used dash-large-files.akamaized.net?
https://dash-large-files.akamaized.net/WAVE/vectors/2021-07-26/avc_sets/15_30_60/t33/stream.mpd

[2021-07-29 14:04] rbouqueau commented on #42
The following works for me, how is it for you?

https://reference.dashif.org/dash.js/latest/samples/dash-if-reference-player/index.html?mpd=https://dash-large-files.akamaized.net/WAVE/vectors/2021-07-26/avc_sets/15_30_60/t33/stream.mpd

Because people explicitly complained about CORS when using the www.gpac-licensing.com server. Would you have expected another server or URL?

[2021-07-29 14:07] yanj-github commented on #42
I have following error. Is this might be a permission issue please?
Error Dash.js :25
https://dash-large-files.akamaized.net/WAVE/vectors/2021-07-26/avc_sets/15_30_60/t33/stream.mpd is not available

[2021-07-29 14:16] rbouqueau commented on #42
Could someone else give a try please? Can you read:
- https://dash-large-files.akamaized.net/WAVE/vectors/2021-07-26/avc_sets/15_30_60/t33/stream.mpd
- https://reference.dashif.org/dash.js/latest/samples/dash-if-reference-player/index.html?mpd=https://dash-large-files.akamaized.net/WAVE/vectors/2021-07-26/avc_sets/15_30_60/t33/stream.mpd
?

[2021-07-29 14:41] yanj-github commented on #42
I can see this.

But not this one.

@louaybassbouss  can you kindly help to check please?

[2021-07-29 14:45] cta-source commented on #42
Directly accessing https://dash-large-files.akamaized.net/WAVE/vectors/2021-07-26/avc_sets/15_30_60/t33/stream.mpd in Chrome works, I can read the MPD file.

With the dash.js link below, I got Error 25 also:

“https://dash-large-files.akamaized.net/WAVE/vectors/2021-07-26/avc_sets/15_30_60/t33/stream.mpd is not available”

Mike Bergman
Consumer Technology Association, producer of CES®
d: +1(703) 9

[2021-07-29 14:47] rbouqueau commented on #42
Thanks. What about https://reference.dashif.org/dash.js/latest/samples/dash-if-reference-player/index.html?mpd=https://dash.akamaized.net/WAVE/vectors/2021-07-26/avc_sets/15_30_60/t33/stream.mpd ?

[2021-07-29 14:50] yanj-github commented on #42
Thank you very much. this is working.

@louaybassbouss Can you kinldy help to change the mpd link please?

[2021-07-29 16:23] louaybassbouss commented on #42
@yanj-github  done :)

[2021-08-02 14:28] #42 closed

[2021-09-13 13:23] jpiesing opened #43 "1920x1080p50/p60 is outside the cmfhd / cfhd media profile"
The cmfhd / chfd media profile does not include 1920x1080p50/p60 but this is included as one of the CMAF tracks in the Switching Set for test 8.5 Switching Set Playback and 8.11.

![image](https://user-images.githubusercontent.com/8490792/133091044-50c23c02-20f6-420d-925c-512573833ae4.png)

Some options include;
- Remove 1920x1080p50/p60 from tests 8.5/8.11 and do not test 1920x1080p50/p60 at all

[2021-09-13 13:24] jpiesing commented on #43
@louaybassbouss Do you know if there's a viable real-world mechanism (excl. try it & see) to identify if a device supports AVC profile 4.0 but not higher & hence not 1920x1080p50/p60?

[2021-09-13 15:36] louaybassbouss commented on #43
@jpiesing you can use [MediaSource.isTypeSupported(mimeType)](https://developer.mozilla.org/en-US/docs/Web/API/MediaSource/isTypeSupported) to check if specific codec+profile is supported or not (Return value: '_A boolean value which is true if the browser feels that it can probably play media of the specified type_...' ). You need to try all codec+profile combinations higher than AVC 4.0 to check

[2021-09-13 16:24] jpiesing commented on #43
I thought isTypeSupported couldn't be relied on for accurate information, particularly not for profiles within a codec. Am I confusing it with canPlayType?

[2021-09-14 13:58] louaybassbouss commented on #43
Yes this is correct both `isTypeSupported` and `canPlayType` do not give a safe answer (this is the reason I copied the sentence from the spec  '_A boolean value which is true if the browser feels that it can probably play media of the specified type..._'). Since we use MSE API to append media content to the buffer,  we prefer to use MSE.isTypeSupported and not HTMLMediaElement.canPlayType. Media

[2021-09-14 14:10] jpiesing commented on #43
@louaybassbouss @dsilhavy Would it be reasonable to modify the test runner to not use the 1920x1080p50/p60 stream (aka stream 20) if MSE.isTypeSupported would return false for AVC 4.2?

[2021-09-14 15:22] rbouqueau opened #44 "HLS manifest generation"
See https://github.com/cta-wave/Test-Content/issues/4

HLS manifest can be done for free using our actual packager (GPAC) when generating the DASH manifest. However we need to check the manifest complies with CTA-WAVE recommendations.

[2021-10-12 15:51] yanj-github opened #45 "database.json update process"
On the each run the script regenerates databse.json.
Instead, can it just update the part that is new or replace what only what is updated please?
The databse.json will have dolby contnet information it might get replaced after new content get generated.

[2021-12-15 16:54] haudiobe commented on #32
DPCTF:
- Streams not exactly 16:9
- Valid test content, but annotation is needed => @poolec may be able to check

[2022-06-03 12:48] jpiesing opened #47 "avc stream t2 is supposed to be avc3 but is in fact avc1"
AVC stream t2 is supposed to be "All AVC content options different from stream 1" specifically;

with and without picture timing SEI message: Without
with and without VUI timing information.: With
Sample entry, see CMAF clause 9.4.1.2: avc3 sample entry type (in-band parameter sets) without parameter sets within the CMAF header
CMAF Fragment durations: 5s
Initialization Constraints: Single initial

[2022-06-03 13:10] Lis-TV commented on #47
mp4box output:

`<SequenceParameterSet size="30" content="data:application/octet-string,6764002AACD940780227E5C05A808080A0000003002000000641E30632C0"/>
<PictureParameterSet size="5" content="data:application/octet-string,68EBECB22C"/>`

seems to be not in line with requirement:

`Sample entry, see CMAF clause 9.4.1.2: avc3 sample entry type (in-band parameter sets) without parameter sets within th

[2022-06-03 14:24] rbouqueau commented on #47
Thanks. I can reproduce on the latest version (https://dash.akamaized.net/WAVE/vectors/avc_sets/12.5_25_50/t2/2022-01-17/croatia_L1_1920x1080@25_60_dash_track1_init.mp4), I'll have a look when processsing the next batch.

[2022-06-07 13:13] jpiesing opened #48 "encoding 30s test streams"
@nicholas-fr has produced a mezzanine stream with 30s duration in response to https://github.com/cta-wave/dpctf-tests/issues/56 .
As described in https://github.com/cta-wave/dpctf-tests/issues/56#issuecomment-1044223473,

1.     Nicholas creates a 1920x1080 mezzanine stream with duration 30s. No other resolutions have a 30s mezzanine.
2.     The current streams t1 to t17 inclusive (all of which ar

[2022-06-07 13:31] rbouqueau commented on #48
It's on my todo. However I am away this week and back only next Wednesday afternoon.

[2022-06-08 15:09] Lis-TV opened #49 "Stream t10 incorrectly generated?"
The stream should be without VUI timing information, but timing_info_present_flag is set to 1, with num_units_in_tick = 1; timescale=50 and fixed_frame_rate_flag = 0

wget https://dash.akamaized.net/WAVE/vectors/2021-09-09/avc_sets/12.5_25_50/t10/croatia_L1_1920x1080@25_60_dash_track1_init.mp4 --no-check-certificate

wget wget https://dash.akamaized.net/WAVE/vectors/2021-09-09/avc_sets/12.5_25_50/

[2022-06-09 13:14] Lis-TV opened #50 "pic_timing SEI message not present"
I couldnt find presence of pic_timing SEI message (I used Zond 256 tool) in stream T11 (and T2). Could you please check if it is present?

[2022-06-09 15:34] Lis-TV opened #51 "T11, parameter sets"
test code sparse Matrix - AVC requires _parameter sets within the CMAF Header_
I am not 100% sure if it is a defect, but there is only PictureParameterSet, and there is no SequenceParameterSet.

[2022-06-09 15:40] Lis-TV commented on #47
Seems t12 is also affected.

[2022-06-10 07:00] jpiesing opened #52 "AVC 4.0 vs 4.2, CFHD vs CFHF"
It is reported that all (most?) of the AVC test vectors are 4.2.
If the CMAF profile indicated is 'CFHD' then this is incompatible with the CMAF spec.

![image](https://user-images.githubusercontent.com/8490792/173007092-1c91f4fc-422d-4ef3-b2b1-981661a41fce.png)

If the CMAF profile indicated is 'CFHF' then this is compatible with CMAF but we should discuss whether this what we actually want.

I d

[2022-06-10 07:12] Lis-TV opened #53 "AVC content - level too high"
The _level_idc_ of encoded content is too high (42), the AVC content should be _cfhd_ - it is specified in Table 1 – WAVE Video Profiles  of CTA 5001.
The maximum level for _cfhd_ is 40 (0x28).

Please look to the table, to _codecs_ column. There is _avc1.640028_ not _avc1.64002A_ .

Reproducing:
[code]
then edit xml file, and find:

`AVCLevelIndication="42"`

[2022-06-10 11:07] Lis-TV opened #54 "T16, no B-frame"
The  test code sparse Matrix - AVC requires for T16 B-Frames to be present:

`Fragment contains multiple chunks (p-frame to p-frame with b-frames)`

But when I used `ffprobe -i whole_content.mp4 -show_frames` there was only I-frames ( `pict_type=I` ) and P-frames ( `pict_type=P` )

[2022-06-10 12:11] rbouqueau commented on #54
Where can I find the "sparse Matrix - AVC" reference?

[2022-06-10 12:15] jpiesing commented on #54
https://docs.google.com/spreadsheets/d/1hxbqBdJEEdVIDEkpjZ8f5kvbat_9VGxwFP77AXA_0Ao/edit#gid=0

[2022-06-10 12:15] jpiesing commented on #54
The terminology is copied from the WAVE device playback spec.

[2022-06-28 12:15] rbouqueau commented on #53
Thanks for the detailed report(s). Much appreciated.

I think #52 and #53 are actually the same issue.

In the code:
- The issue is that the level is hardcoded [here](https://github.com/cta-wave/Test-Content-Generation/blob/e75c7919e55b15478d6307334a08cfc6dce034dc/encode_dash.py#L160) depending on the CMAF Media Profile.
- The CMAF Media Profile is hardcoded to "avchdhf" [here](https://github.com/

[2022-06-28 12:15] rbouqueau commented on #52
See my [comment](https://github.com/cta-wave/Test-Content-Generation/issues/53#issuecomment-1168644668) in #53.

[2022-06-28 13:18] jpiesing commented on #53
@rbouqueau I added the profile and level rows in response to this issue being reported but wasn't sure how to populate them.

[2022-06-28 20:13] rbouqueau commented on #48
For 4., would it be possible to amend the [test code sparse Matrix - AVC](https://docs.google.com/spreadsheets/d/1hxbqBdJEEdVIDEkpjZ8f5kvbat_9VGxwFP77AXA_0Ao/edit#gid=0) with a new t19 column then? I don't have write access to the document.

[2022-06-29 13:46] jpiesing commented on #48
Done.

[2022-06-29 20:58] rbouqueau commented on #54
I think the important bit here is not the presence of B-Frames or the fragmentation at P-Frames. I think what we are trying to check is multiple ISOBMFF fragments per segment, correct?

If so, I suggest to change the wording of the sparse matrix.

Long story short, supporting "p-frame to p-frame with b-frames" in a generic way would be a permanent hack in the current code.

[2022-06-30 08:16] jpiesing commented on #54
The origin of this text is section 10.2.3 of the DPCTF specification.

![image](https://user-images.githubusercontent.com/8490792/176627946-6a01df54-ea82-4bc3-8257-b90e9376074a.png)

This does explicitly reference B-frames. @haudiobe, I assume you wrote this?

[2022-07-06 15:33] rbouqueau commented on #48
I confirm this was ok for me.

[2022-07-07 05:46] rbouqueau commented on #54
So I've added B-frames with fragment duration based on the number of B-frames in that case.

[2022-07-07 05:57] rbouqueau commented on #53
@jpiesing Do you know when this will be discussed? I left 4.2 (for the reasons expressed above) in the current set.

[2022-07-07 08:31] jpiesing commented on #53
It was discussed in the meeting on June 29th as follows ...

The following table from the CMAF spec shows this ...

![image](https://user-images.githubusercontent.com/8490792/177728241-11436244-5246-455f-b5aa-e77311c844ab.png)

In contrast looking at the WAVE media spec.

![image](https://user-images.githubusercontent.com/8490792/177728555-e79011d4-73d7-4a79-bda8-210e6c009823.png)

![image](https:

[2022-07-08 05:42] rbouqueau commented on #53
I will implement this unless someone objects.

[2022-07-17 21:22] rbouqueau commented on #52
@jpiesing In the sparse matrix I think only t20 needs to be level 4.2. All other can be encoded with level 4.0.

[2022-07-18 08:00] jpiesing commented on #52
I wasn't sure about 720p50/60.

[2022-07-18 12:25] nicholas-fr commented on #52
Just to confirm:
720p50/60 AVC only requires level 4.0
1080p50/60 AVC requires level 4.2

[2022-08-30 12:22] andyburras opened #55 "Failures on DASH-IF Validator"
I tried running a couple of the test content media through the DASH-IF Validator (from https://github.com/Dash-Industry-Forum/DASH-IF-Conformance ) but both gave errors.

[code]

Looks like the audio is failing to validate completely.
The video reports the errors when 'Segment Validation', 'DASH-IF', and 'CMAF' are selected.

[2022-09-21 14:53] Lis-TV commented on #52
_720p50/60 AVC only requires level 4.0
1080p50/60 AVC requires level 4.2_

Confirm.

[2022-09-30 00:04] rbouqueau commented on #52
Should have been solved by 107d6ea1aa98f515833a7e8c7fdf7298410a3246.

[2022-09-30 00:06] rbouqueau commented on #47
Should be solved by 32f04dd34d8f701edd7f4be068d5522e22a5cb9b.

[2022-09-30 00:06] rbouqueau commented on #54
There was still an issue in the fragment duration computation. Should be solved by 32f04dd34d8f701edd7f4be068d5522e22a5cb9b.

[2022-09-30 00:07] rbouqueau commented on #53
This should be all good in the latest 2022-09-30 release.

[2022-09-30 00:08] rbouqueau commented on #49
There were indeed issues in the pic_timing sei versus vui timing info (both in the generation and the validation scripts). The latest content should be ok.

Commit reference for the fix: 32f04dd34d8f701edd7f4be068d5522e22a5cb9b.

[2022-09-30 00:08] rbouqueau commented on #48
Done in the latest release.

[2022-10-03 18:14] nicholas-fr opened #56 "Unique ss1 mpd file names for each frame rate family"
As the MPDs for ss1 are located in the vectors folder, that contains the cfhd_sets and chdf_sets folders, it would be useful if the MPDs had filenames including the frame rate family, otherwise they overwrite each other when extracting all the test vector zip files.
In case we also have other switching sets it may be useful to also include the switching set name.

Proposal:
`<frame_rate_family>_<s

[2022-10-03 19:01] rbouqueau commented on #56
There is no issue for me, but then should we also prefix them with the date e.g. ```12.5_25_50_ss1_2022-09-30_stream.mpd```?

[2022-10-03 19:09] nicholas-fr commented on #56
Yes, I think that would make sense.

[2022-11-15 17:10] jpiesing commented on #43
Closing as 'chdf' was approved for inclusion in the 2022 WAVE CSTF specification, CTA5001-E.

[2022-11-15 17:10] #43 closed

[2022-11-16 16:40] gitwjr commented on #2
Close. HEVC is deferred to a future release. AVC is being checked. If an issue with AVC arises we can reopen.

[2022-11-16 16:51] gitwjr commented on #3
@haudiobe
This concerns the information used to generate the content. The information is there to recreate the content if needed.
1. We have the date it was generated.
2. @haudiobe What information are you looking for? Can we add a field to the json database to capture any additional information needed. @haudiobe What information are you looking for?
3. We already note the version of the GPAC tool

[2022-11-16 16:52] #6 closed

[2022-11-16 16:54] gitwjr commented on #7
Overtaken by events. GPAC is used to encode and generate the MPD.
Close.

[2022-11-16 16:54] #7 closed

[2022-11-16 16:58] gitwjr commented on #9
@haudiobe
There is an folder https://github.com/cta-wave/Test-Content-Generation/tree/master/Instructions. Is it now up to date or does more need to be done?
Peter will check with Yan to determine how it is done. We need to figure out what official reference is to be used to generate the content.

[2022-11-16 16:59] gitwjr commented on #38
Done. Close.

[2022-11-16 17:21] jpiesing commented on #38
Looking at the original problem description, I don't think the original comment from @cta-source  is addressed.

We need to think about how people will download the DPCTF test suite once it's released.
We would then include the text from CTA Legal at an appropriate place in that workflow.
- It could be a web page that takes you to a second page of links to the content on the Akamai web server
- It

[2022-11-16 19:23] mbergman42 commented on #38
@jpiesing, I agree. It only applies to content, however. Hosting content publicly on a site where they can pick and choose content isn't going to support this EULA requirement.

Agreed, except that the Akamai web server doesn't (easily) support any kind of access control. Each user authorization must be hand-curated by Will, via informal connections with another Akamai department that isn't formal

[2022-11-16 19:34] jpiesing commented on #38
Why does it matter if there's a way to bypass the EULA?
Look at Big Buck Bunny for example, the download page, https://peach.blender.org/download/, includes the license but someone who was sufficiently determined could share the URLs from the following page with anyone.

[2022-11-16 19:36] mbergman42 commented on #38
Good question. I'm meeting with Legal on that question in an hour. I'll report back. (Basically--if we don't have a 'hard' click-through that fully blocks access to the content without agreement, what is still acceptable that WAVE can implement?)

[2022-11-16 21:43] mbergman42 commented on #38
Per CTA Legal: We can post the EULA information on a website that gates access to the test material. This can be in DPCTF Deploy. It also should be on a web site that provides access to the test material, and when we need to give people access to the vector files, it should be via that web page, not the FTP-like dash-if.akamized.net/WAVE/vectors direct link. The existence of the public link is not

[2022-11-17 08:26] jpiesing commented on #38
@cta-source Mike, perhaps you could open an issue in the deploy project that the EULA needs to be shown and agreement obtained before the test content is downloaded.
We do give people direct access to the test vectors from https://cta-wave.github.io/Test-Content/ . I guess that page needs to be revised to include the EULA, either before the page is shown or between selecting an MPD and the MPD bei

[2022-11-17 16:38] mbergman42 commented on #38
Done, see [Issue 32: Deploy must show an EULA](https://github.com/cta-wave/dpctf-deploy/issues/32). I've also created a EULA file and loaded it into DPCTF-deploy.

[2022-11-17 18:22] jpiesing commented on #9
This issue can be closed. The list needed is per codec. We have done this for AVC in the sparse matrix google doc. It needs doing for each new codec as part of the process of adding that codec. Similar lists exist for the audio codecs at https://github.com/cta-wave/Test-Content/issues/27, https://github.com/cta-wave/Test-Content/issues/26 and https://github.com/cta-wave/Test-Content/issues/25.

[2022-11-17 18:22] #9 closed

[2022-11-22 14:03] nicholas-fr commented on #47
Resolved in the latest test content, see https://github.com/cta-wave/Test-Content/issues/40#issuecomment-1310031376.
I believe this issue can be closed.

[2022-11-22 14:03] nicholas-fr commented on #53
Resolved in the latest test content, see https://github.com/cta-wave/Test-Content/issues/40#issuecomment-1310031376.
I believe this issue can be closed.

[2022-11-22 14:03] nicholas-fr commented on #52
Resolved in the latest test content, see https://github.com/cta-wave/Test-Content/issues/40#issuecomment-1310031376.
I believe this issue can be closed.

[2022-11-22 14:03] nicholas-fr commented on #54
Resolved in the latest test content, see https://github.com/cta-wave/Test-Content/issues/40#issuecomment-1310031376.
I believe this issue can be closed.

[2022-11-22 23:11] gitwjr commented on #47
2022-11-22: Closed based on Nicholas' validation testing of 2022-10-17 test vectors release.

[2022-11-22 23:11] #47 closed

[2022-11-22 23:14] gitwjr commented on #49
2022-11-22: Closed based on Nicholas' validation testing of 2022-10-17 test vectors release.

[2022-11-22 23:14] #49 closed

[2022-11-22 23:15] gitwjr commented on #50
2022-11-22: Closed based on Nicholas' validation testing of 2022-10-17 test vectors release.

[2022-11-22 23:15] #50 closed

[2022-11-22 23:16] gitwjr commented on #52
2022-11-22: Closed based on Nicholas' validation testing of 2022-10-17 test vectors release.

[2022-11-22 23:16] #52 closed

[2022-11-22 23:16] gitwjr commented on #53
2022-11-22: Closed based on Nicholas' validation testing of 2022-10-17 test vectors release.

[2022-11-22 23:16] #53 closed

[2022-11-22 23:17] gitwjr commented on #54
2022-11-22: Closed based on Nicholas' validation testing of 2022-10-17 test vectors release.

[2022-11-22 23:17] #54 closed

[2022-11-24 10:57] rbouqueau commented on #55
I think, on the latest master branch of the SegmentValidator that should be integrated soon in the DASH Conformance Software, that the "Program error!" is fixed. However the erroneous checks (e.g. "styp not at the begining of a segment") need to be addressed separately.

And also AFAIU these errors also went away on the latest version of the content. @nicholas-fr Do you confirm? If so, I suggest c